<%include header%>
<head>
  <link rel=stylesheet type="text/css" href="chat.css">
</head>
<body>
    <div class="top">
        <span id="user" style="float:left; font-size:1.5em;"><%= username %></span>
        <span style="font-size:3em; font-family:Cursive;">CNLine</span>
        <span style="float:right;">&nbsp;<input type="submit" value="登出" onclick="location.href='/login'"></span>
    </div>
    <div class="left">
        <table width="100%">
            <% for( var idx = 0; idx < userlist.length; idx++) { %>
                <% if(idx % 2 === 0) { %>
                    <tr><td class="name_even name_online"  onclick=openRoom(this)><%= userlist[idx].username %></td></tr>
                <% } %>
                <% if(idx % 2 === 1) { %>
                    <tr><td class="name_odd name_online" onclick=openRoom(this)><%= userlist[idx].username %></td></tr>
                <% } %>
            <% } %>
        </table>
    </div>
    <div class="main" id="chatRoom">
        <div id="roomName" style="height:30px; width:100%; border-bottom:2px solid; text-align:center; font-size:1.25em"></div>
        <div style="position:absolute; top:40px; bottom:60px; width:100%; overflow:auto;">
            <table id="chatContent" style="padding-left:50px;">
            </table>
        </div>
        <table style="height:60px; width:100%; position:absolute; bottom:0px;">
            <tr>
                <td>
                    <div class="fileUpload">
                        <span>檔案</span>
                        <input class="upload" type="file" value="檔案" multiple>
                    </div>
                </td>
                <td style="width:100%;"><input id="message" type="text" autofocus style="width:100%; font-size:1.25em;"></td>
                <td><input type="button" value="傳送" onclick=sendMsg() style="font-size:1.25em; margin:10px;"></td>
            </tr>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();
        function openRoom(group) {
            if($("#roomName").text() == group.innerHTML){
                return;
            }
            $("#roomName").text(group.innerHTML);
            $("#chatRoom").hide();
            $("#chatContent tr").remove();
            $("#chatRoom").show("fast");
        }
        $("#message").keydown( function(event){
            if (event.keyCode == 13) {
                sendMsg();
            }
        });
        function sendMsg() {
            if ($("#message").val() != "") {
                $("#chatContent").append(
                    $("<tr>").append(
                        $("<td>").append(
                            $("#user").text() + ": " + $("#message").val()
                        )
                    )
                );
                var new_message = {
                    from: $("#user").text(),
                    to: $("#roomName").text(),
                    msg: $("#message").val()
                };
                //console.log(new_message);
                socket.emit('new message', new_message);
                $("#message").val("");
            }
        }
    </script>
</body>
