.top {
        position:absolute;
        left:0; top:0; right:0;
        height: 70px;
        border-bottom: 2px solid;
        padding: 10px 20px 10px 20px;
        text-align: center;
        line-height: 70px;
    }
.left {
    position:absolute;
    left:0; top:93px; bottom: 0;
    width: 178px;
    border-right: 2px solid black;
    padding-top: 20px;
}
.main {
    position: absolute;
    left:180px; top:93px; right:0; bottom:0;
    display: none;
}
td.name_even {
    background-color:#EEEEEE; 
    text-align:center; 
    font-size:20; 
    padding:5px;
}
td.name_odd {
    background-color:#BBBBBB; 
    text-align:center; 
    font-size:20; 
    padding:5px;
}
td.name_online {
    font-weight:bold;
    cursor: pointer;
}
td.name_offline {
    color:#888888; 
    font-weight:lighter;
}
.fileUpload {
    position: relative;
    overflow: hidden;
    width: 50px;
    margin: 5px;
    border: 2px ridge;
    font-size: 1.25em;
    text-align: center;
}
input.upload {
    position: absolute;
    top: 0; 
    bottom: 0; 
    right: 0;
    padding: 0;
    cursor: pointer;
    opacity: 0;
}

.top { background: #C1FDF8; }
.left { background: #B1EDE8; }
.main { background: #FFFFFF; }
