< %include header% >
<head>
  <link rel=stylesheet type="text/css" href="chat.css">
</head>
<body>
    <div class="top">
        <span style="float: left;">< %= username % ></span>
        <span style="font-size: 48">CNLine</span>
        <span style="float: right;">&nbsp;<input type="submit" value="登出" onclick="location.href='/login'"></span>
    </div>
    <div class="left">
        <table width="100%">
            <% for( var idx = 0; idx < userlist.length; idx++) { %>
                <% if(idx % 2 === 0) { %>
                    <tr><td class="td_name_odd" onclick=openRoom(this)><b><%= userlist[idx].username %></b></td></tr>
                <% } %>
                <% if(idx % 2 === 1) { %>
                    <tr><td class="td_name_even" onclick=openRoom(this)><b><%= userlist[idx].username %></b></td></tr>
                <% } %>
            <% } %>
            <tr><td class="td_name_odd" style="color:#888888" onclick=openRoom(this)>陳力宇</td></tr>
        </table>
    </div>
    <div class="main">
        <table>
            <tr><td>JoJo: YO</td></tr>
            <tr><td>Bear: HE</td></tr>
        </table>
    </div>
    <script>
        function openRoom(name) {
            alert(name.innerHTML);
        }
    </script>
</body>
