.top {
        position:absolute;
        left:0; top:0; right:0;
        height: 70px;
        border-bottom: 2px solid;
        padding: 10px 20px 10px 20px;
        text-align: center;
        line-height: 70px;
    }
.left {
    position:absolute;
    left:0; top:93px; bottom: 0;
    width: 178px;
    border-right: 2px solid black;
}
.main {
    position: absolute;
    left:180px; top:93px; right:0; bottom:0;
    display: none;
}
.center {
    position: fixed;
    top: 30%;
    left:30%;
    height: 40%;
    width: 40%;
    background-color: white;
    border: 2px solid black;
    border-radius: 25px;
    box-shadow: 10px 10px 5px #888888;
    display: none;
}
td.name_even {
    background-color:#EEEEEE; 
    text-align:center; 
    font-size:20; 
    padding:5px;
}
td.name_odd {
    background-color:#BBBBBB; 
    text-align:center; 
    font-size:20; 
    padding:5px;
}
td.name_online {
    font-weight:bold;
    cursor: pointer;
}
td.name_offline {
    color:#888888; 
    font-weight:lighter;
}
td.new_msg {
    background-image: url(bubble.png);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat; 
    background-position: right center;
}
.fileUpload {
    position: relative;
    overflow: hidden;
    width: 50px;
    margin: 5px;
    border: 2px ridge;
    font-size: 1.25em;
    text-align: center;
}
input.upload {
    position: absolute;
    top: 0; 
    bottom: 0; 
    right: 0;
    padding: 0;
    opacity: 0;
}
input.cancel {
    position: absolute;
    width: 100%;
    top: 0; 
    bottom: 0; 
    right:0;
    padding: 0;
    display: none;
    opacity: 0;
}
input.close {
    position:absolute; 
    top:8px; 
    right:8px; 
    font-size:1.5em; 
    border-radius:25px;
}
input.groupName {
    position:absolute;
    bottom:0;
    left:10px;
    margin:10px;
    width:60%;
}
input[type=button], [type=file], [type=submit] {
    cursor: pointer;
}
input {
    font-size: 1.25em;
}

.top { background: #C1FDF8; }
.left { background: #B1EDE8; }
.main { background: #FFFFFF; }
